[Desktop Entry]
Type=Application
Name=Flick
Comment=Microphone control
Comment[pt_BR]=Controle de microfone
Comment[es]=Control de micrófono
Exec=/usr/bin/flick
Icon=audio-input-microphone
Terminal=false
Categories=AudioVideo;Audio;Settings;
